

<img src="assets/img/burger.png" alt="Girl in a jacket" width="200" height="200">
<h1>Eat-Da-Burger!</h1>

<h2>Burgers ready to be devoured!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Devoured burgers!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>


<form class="burger-submit-form">
  <div class="form-group">
    <input type="text" id="burger" name="name">
  </div>
  <button type="submit">Submit</button>
  <p>Enter a burger you want to eat. Click the "submit" button.</p>
</form>
